{% extends "layout.html" %} 

{% block title %} 
    History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            
            {% for v in data %}

                <tr>
                    <td class="text-start">{{v.symbol}}</td>
                    <td class="text-end">{{v.shares}}</td>
                    <td class="text-end">{{v.price}}</td>
                    <td class="text-end">{{v.date}}</td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

{% endblock %}